/* meal-details.component.css */

/* Style pour la carte du repas */
.meal-card {
    border: 1px solid #ccc;
    /* Bordure de la carte */
    border-radius: 5px;
    /* Bordure arrondie */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ombre de la carte */
    margin-bottom: -10px;
    /* Marge en bas de chaque carte */
}

/* Style pour le conteneur du repas */
.meal-container {
    padding: 20px;
    /* Espacement intérieur du conteneur */
}

/* Style pour le titre du repas */
h2 {
    font-size: 24px;
    /* Taille de la police du titre */
    color: #333;
    /* Couleur du texte */
    margin-bottom: 10px;
    /* Marge en bas du titre */
}
/* Style pour le conteneur de la photo du repas */
.meal-photo-container {
    position: relative;
    /* Position relative pour le positionnement de la vidéo */
    width: 100%;
    /* Définit la largeur maximale du conteneur à 100% */
    height: 300px;
    /* Hauteur fixe pour la photo du repas */
    overflow: hidden;
    /* Masque le contenu dépassant du conteneur */
}

/* Style pour l'image du repas */
img {
    width: 50%;
    /* Définit la largeur de l'image à 100% du conteneur */
    height: 300px;
    /* Hauteur automatique pour conserver les proportions */
}

/* Style pour la description du repas */
p {
    font-size: 16px;
    /* Taille de la police de la description */
    color: #666;
    /* Couleur du texte */
    margin-bottom: 15px;
    /* Marge en bas de la description */
}

/* Style pour le conteneur de la photo du repas */
.meal-photo-container {
    position: relative;
    /* Position relative pour le positionnement de la vidéo */
}

/* Style pour l'image du repas */
img,
video {
    max-width: 100%;
    /* Largeur maximale de l'image ou de la vidéo */
    height: auto;
    /* Hauteur automatique pour conserver les proportions */
    cursor: pointer;
    /* Curseur pointer pour indiquer que l'élément est cliquable */
}

/* Style pour la vidéo du repas */
video {
    position: absolute;
    /* Position absolue pour superposer la vidéo à l'image */
    top: 0;
    /* Position en haut de l'élément parent */
    left: 0;
    /* Position à gauche de l'élément parent */
    display: none;
    /* Masquer la vidéo par défaut */
}